body {
  font-family: "Palatino", "Palatino Linotype", "Georgia", serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 120%;
}

.card {
  background: #000000d0;
  color: white;
  padding: 2em;
  border-radius: 30px;
  width: 100%;
  margin: 1em;
  max-width: 420px;
  position: relative;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  margin: 0.5em;
  border-radius: 50%;
  border: none;
  width: 40px;
  height: 40px;
  background-color: #7c7c7c2b;
  color: white;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

input.search-bar {
  border: none;
  outline: none;
  padding: 0.4em 1em;
  border-radius: 20px;
  color: white;
  font-family: inherit;
  background-color: #7c7c7c2b;
  font-size: 120%;
  width: calc(100% - 50px);
}

button:hover {
  background: #7c7c7c6b;
}

h1.temp {
  margin: 0;
}

.change {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 5px;
  right: 2rem;
}

.change-button {
  background: none;
  border: none;
  border-radius: 9px;
  background-color: #7c7c7c2b;
  color: lightgray;
  opacity: 0.5;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: baseline;
  margin-bottom: 0.3em;
}

.description {
  margin-left: 5px;
  margin-top: 1em;
}

.weather.loading {
  visibility: hidden;
  max-height: 20px;
  position: relative;
}

.weather.loading:after {
  visibility: visible;
  content: "Search for a city!";
  color: white;
  position: absolute;
  top: 0;
  left: 20px;
}
